<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Loan Department">
  	<parameter name="URL" value ="qaclickacademy.com"/>

  <test name="Personal Loan">
    	<parameter name="URL" value ="personalloan.com"/>
    	
    <classes>
      <class name="testng.loginTest">
			<methods>
					<include name ="Demo"/>	
			</methods>
		
		
	</class>
		<class name="testng.loginTest2"/>
		 <class name="testng.loginTest4"/>
   
   	 </classes>
  </test>
  
 <test name ="Car Loan">
  		    	  	<parameter name="URL" value ="carloan.com"/>
  		    	
  		    	<parameter name="APIKey/username" value="123456"/>
  		
  		<classes>
  			
  			<class name="testng.loginTest3">
  					<methods>
  						<exclude name="Mobilelogincarloan"/>
  					</methods>
  					</class>
  		
  		
  		
  	</classes>
  </test> 
</suite> 
